/**
 * General styling for the HTML demonstration
 */

 html {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
 }

 body {
  margin: 0;
 }

.navigation__container {
  display: flex;
  gap: 48px;
  block-size: 100%;
  background-color: #F5F8FF;
}

.navigation__toolbar--wrapper {
  font-size: 1rem;
  box-sizing: border-box;
  inline-size: 100%;
  max-inline-size: 240px;
  border-inline-end: 1px solid #aaa;
  background-color: white;
  box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.3333);
}

/* When the configured standard breakpoint is active and the tray is in a
 * vertical position, the tray does not scroll with the page. The contents of
 * the tray scroll within the confines of the viewport.

  @TODO - Add an active class via JS when open to trigger this effect
 */
.navigation.is-active {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  block-size: 100%;
  display: block;
  inset-inline-start: 0; /* LTR */
}

/* Content Area */
.navigation__content--wrapper {
  inline-size: 100%;
}

.navigation__content--wrapper .navigation__content--profile-icon {
  display: block;
  inline-size: 18px;
  block-size: 18px;
  padding: 9px;
  margin-inline-end: 20px;
  text-indent: -9999px;
  background: url(../icons/75767B/user-icon.svg) no-repeat center;
  background-size: 18px;
}

.navigation__content--inner {
  margin-inline-end: 20px;
}
