/**
 * General styling for the HTML demonstration
 */

 html {
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
 }

 .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  display: flex;
  block-size: 100%;
  background-color: #F5F8FF;
}

.navigation__sidebar {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  box-sizing: border-box;
  transition: width .2s ease;
  border-inline-end: 1px solid #aaa;
  background-color: white;
  box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.3333);
  font-size: 1rem;
  inline-size: 64px;

  &.is-active {
    inline-size: 260px;
    overflow-y: scroll;
    height: 100vh;
  }

  @media only screen and (max-height: 300px)  {
    min-height: 20rem;
  }
}

/* Blocks Area */
.navigation__blocks {
  margin-top: 1rem;
}

/* Content Area */
.page-wrapper {
  inline-size: 100%;

  & .navigation__content--profile-icon {
    display: block;
    margin-inline-end: 20px;
    padding: 9px;
    text-indent: -9999px;
    background: url(../../icons/75767B/user-icon.svg) no-repeat center;
    background-size: 18px;
    inline-size: 18px;
    block-size: 18px;
  }
}

.navigation__content--inner {
  margin-inline-end: 20px;
}

#sidebar-control {
  margin: 12px;
  padding-block-start: 12px;
}

.menu-title,
.level-1 > .navigation-box {
  padding-inline-start: 12px;
}

.menu-title {
  padding-inline-end: 12px;
}
