.navigation-link {
  position: relative;
  padding-block: 1em;
  color: var(--color-gray-800);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:focus-within {
    text-decoration: underline;
    color: #000;
  }
}


.navigation__sidebar.is-active .navigation-link {
  padding-right: 12px;

  & svg {
    margin-right: 12px;
  }
}

.navigation__sidebar:not(.is-active) {
  & .level-1 > .navigation-box {
    padding-right: 12px;
  }

  & .navigation-box {
    justify-content: center;
  }
}

.navigation-link--has-icon span {
  opacity: 1;
  transition: opacity .4s ease;
}

.navigation-menu ul .navigation-link {
  padding-inline-start: 1.3333em;
}

/**
 * Handle.
 */

.navigation-handle {
  border: 0;
  background-color: transparent;
  font-size: 1em;
  inline-size: 44px;
  flex-basis: 44px;
  flex-shrink: 0;
  border-inline-start: 1px solid white;
  z-index: 1;
  display: block;
  padding: 0;

  &::before {
    display: block;
    block-size: 100%;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--color-gray-700);
    background-image: url(../../icons/75767B/chevron-down.svg);
    background-size: 12px;
  }
}

.navigation-box {
  border-block-end: 1px solid transparent;
}

.menu-item--expanded > .navigation-box {
  background-color: var(--color-blue-050);
  border-color: white;

  & > .navigation-link {
    color: var(--color-blue-700);
  }

  & > .navigation-handle::before {
    transform: rotate(180deg);
  }
}

.navigation-handle {
  &[aria-expanded=true] {
    outline: none;
    background-color: var(--color-blue-050);
  }

  /* 
   * visually-hidden button text
   */
  & .action,
  & .label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

