.navigation-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
}

.navigation-menu a {
  display: block;
  line-height: 1;
}

/**
* Hidden vertical navigation sub-menus by default.
*/
.navigation-menu ul {
  display: none;
}

.navigation-menu ul ul {
  border-block-start: 1px solid #ddd;
  border-block-end: 1px solid #ddd;
}

.navigation-menu li.open > ul {
  display: block; /* Show the sub-menus */
}

/**
* Hidden navigation sub-menus by default.
*/
.navigation-menu .menu-item--expanded ul {
  display: none;
}

.navigation-menu .navigation-menu .navigation-menu .navigation-menu {
  margin-inline-start: 0.25em; 
}

.navigation-menu .navigation-menu a {
  color: #434343;
}

.navigation-menu .level-2 > ul {
  border-block-start-color: #e5e5e5;
  border-block-end-color: #ccc;
  background-color: #fafafa;
}

.navigation-menu .level-3 > ul {
  border-block-start-color: #ddd;
  border-block-end-color: #c5c5c5;
  background-color: #f5f5f5;
}

.navigation-box {
  position: relative;
  display: block;
  inline-size: auto;
  line-height: 1em; /* this prevents the value "normal" from being returned as the line-height */
}

.menu-item {
  list-style: none;
  padding-block-start: 0;
}

.menu-item .menu-item {
  border: 0 none;
}

/**
 * Handle.
 */
.navigation-handle:hover {
  cursor: pointer;
}

.navigation-handle + a {
  margin-inline-end: 3em; /* LTR */
}

.navigation-handle.navigation-icon {
  position: absolute;
  z-index: 1;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  display: block;
  block-size: 100%;
  padding: 0;
}
