<div class="navigation navigation__container">

  <!-- Sidebar -->
  <div class="navigation__sidebar is-active" id="navigation-sidebar">
    <button aria-controls="navigation-sidebar" aria-expanded="true" aria-label="Collapse sidebar" id="sidebar-control">
      <div class="navigation-sidebar__icon"></div>
    </button>
    <div class="navigation__logo">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="30" fill="none"><path fill="#fff" d="M15.519 6.457C13.504 4.442 11.57 2.519 11 .34c-.57 2.167-2.503 4.09-4.518 6.116C3.449 9.479.02 12.909.02 18.058c0 6.066 4.915 10.98 10.98 10.98 6.066 0 10.98-4.914 10.98-10.98 0-5.15-3.439-8.579-6.461-11.601ZM4.68 20.613c-.671-.02-3.154-4.305 1.456-8.864l3.053 3.327a.258.258 0 0 1 0 .367l-.02.02c-.733.743-3.827 3.857-4.214 4.936-.081.224-.203.214-.275.214ZM11 26.26a3.774 3.774 0 0 1-3.775-3.776c0-.956.376-1.811.936-2.493.682-.835 2.84-3.175 2.84-3.175s2.116 2.381 2.828 3.165c.621.681.957 1.577.947 2.503A3.774 3.774 0 0 1 11 26.261Zm7.226-6.127c-.082.173-.265.479-.52.489-.447.02-.488-.214-.824-.702-.722-1.069-7.011-7.643-8.192-8.915-1.038-1.12-.142-1.903.265-2.32L10.98 6.66s4.508 4.275 6.38 7.195c1.873 2.921 1.242 5.445.866 6.28Z"/></svg>
      </a>
    </div>
    <div class="navigation__blocks">
      <div class="dashboard-link">
        <a href="#" class="navigation-link navigation-link--has-icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.25 4.5H3.75C3.55109 4.5 3.36032 4.57902 3.21967 4.71967C3.07902 4.86032 3 5.05109 3 5.25V19.5C3 19.8978 3.15804 20.2794 3.43934 20.5607C3.72064 20.842 4.10218 21 4.5 21H8.25C8.64782 21 9.02936 20.842 9.31066 20.5607C9.59196 20.2794 9.75 19.8978 9.75 19.5V15H14.25V16.5C14.25 16.8978 14.408 17.2794 14.6893 17.5607C14.9706 17.842 15.3522 18 15.75 18H19.5C19.8978 18 20.2794 17.842 20.5607 17.5607C20.842 17.2794 21 16.8978 21 16.5V5.25C21 5.05109 20.921 4.86032 20.7803 4.71967C20.6397 4.57902 20.4489 4.5 20.25 4.5ZM8.25 19.5H4.5V12H8.25V19.5ZM8.25 10.5H4.5V6H8.25V10.5ZM14.25 13.5H9.75V6H14.25V13.5ZM19.5 16.5H15.75V12H19.5V16.5ZM19.5 10.5H15.75V6H19.5V10.5Z" fill="currentColor"/>
          </svg>
          <span>Dashboard</span>
        </a>
      </div>
      <div class="navigation-menu-wrapper">
        <h2 id="menu--top-menus" class="menu-title visually-hidden">Top Menus</h2>
        <ul class="navigation-menu" data-once="navigation-menu" aria-labelledby="menu--top-menus">
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/config/user-interface/shortcut" class="navigation-link navigation-link--has-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.25 3H6.75C6.35218 3 5.97064 3.15804 5.68934 3.43934C5.40804 3.72064 5.25 4.10218 5.25 4.5V21C5.25007 21.1338 5.28595 21.2652 5.35393 21.3805C5.42191 21.4958 5.5195 21.5908 5.63659 21.6557C5.75367 21.7206 5.88598 21.7529 6.01978 21.7494C6.15358 21.7458 6.284 21.7066 6.3975 21.6356L12 18.1341L17.6034 21.6356C17.7169 21.7063 17.8472 21.7454 17.9809 21.7488C18.1146 21.7522 18.2467 21.7198 18.3636 21.655C18.4806 21.5902 18.5781 21.4953 18.646 21.3801C18.7139 21.2649 18.7498 21.1337 18.75 21V4.5C18.75 4.10218 18.592 3.72064 18.3107 3.43934C18.0294 3.15804 17.6478 3 17.25 3ZM17.25 4.5V15.1472L12.3966 12.1144C12.2774 12.0399 12.1396 12.0004 11.9991 12.0004C11.8585 12.0004 11.7208 12.0399 11.6016 12.1144L6.75 15.1462V4.5H17.25ZM12.3966 16.6144C12.2774 16.5399 12.1396 16.5004 11.9991 16.5004C11.8585 16.5004 11.7208 16.5399 11.6016 16.6144L6.75 19.6472V16.9153L12 13.6341L17.25 16.9153V19.6472L12.3966 16.6144Z" fill="currentColor"/>
                </svg>
                <span>Bookmarks</span>
              </a>
              <button class="navigation-handle">
                <span class="action">Extend</span> <span class="label">Bookmarks</span>
              </button>
            </div>
            <ul class="navigation-menu">
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="#" class="navigation-link">
                    <span>Add Content</span>
                  </a>
                </div>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="#" class="navigation-link">
                    <span>All Content</span>
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="navigation-menu-wrapper">
        <h2 id="menu--custom-menu-1" class="menu-title visually-hidden">Top Menus</h2>
        <ul class="navigation-menu" data-once="navigation-menu" aria-labelledby="menu--custom-menu-1">
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="#" class="navigation-link navigation-link--has-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.438 8V16H11.7466V9.60547H11.6997L9.86768 10.7539V9.25391L11.8481 8H13.438Z" fill="currentColor"/>
                  <rect x="0.5" y="0.5" width="23" height="23" rx="5.5" stroke="currentColor"/>
                </svg>
                <span>Custom Menu</span>
              </a>
              <button class="navigation-handle">
                <span class="action">Extend</span> <span class="label">Custom Menu</span>
              </button>
            </div>
            <ul class="navigation-menu">
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="#" class="navigation-link">
                    <span>Link #1</span>
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="navigation-menu-wrapper">
        <h2 id="menu--custom-menu-2" class="menu-title visually-hidden">Top Menus</h2>
        <ul class="navigation-menu" data-once="navigation-menu" aria-labelledby="menu--custom-menu-2">
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="#" class="navigation-link navigation-link--has-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.18408 16V14.7812L12.0317 12.1445C12.2739 11.9102 12.4771 11.6992 12.6411 11.5117C12.8078 11.3242 12.9341 11.1406 13.02 10.9609C13.106 10.7786 13.1489 10.582 13.1489 10.3711C13.1489 10.1367 13.0955 9.9349 12.9888 9.76562C12.882 9.59375 12.7362 9.46224 12.5513 9.37109C12.3664 9.27734 12.1567 9.23047 11.9224 9.23047C11.6776 9.23047 11.464 9.27995 11.2817 9.37891C11.0994 9.47786 10.9588 9.61979 10.8599 9.80469C10.7609 9.98958 10.7114 10.2096 10.7114 10.4648H9.10596C9.10596 9.94141 9.22445 9.48698 9.46143 9.10156C9.6984 8.71615 10.0304 8.41797 10.4575 8.20703C10.8846 7.99609 11.3768 7.89062 11.9341 7.89062C12.507 7.89062 13.0057 7.99219 13.4302 8.19531C13.8573 8.39583 14.1893 8.67448 14.4263 9.03125C14.6632 9.38802 14.7817 9.79687 14.7817 10.2578C14.7817 10.5599 14.7218 10.8581 14.6021 11.1523C14.4849 11.4466 14.2752 11.7734 13.9731 12.1328C13.6711 12.4896 13.2453 12.918 12.6958 13.418L11.5278 14.5625V14.6172H14.8872V16H9.18408Z" fill="currentColor"/>
                  <rect x="0.5" y="0.5" width="23" height="23" rx="5.5" stroke="currentColor"/>
                </svg>
                <span>Custom Menu</span>
              </a>
              <button class="navigation-handle">
                <span class="action">Extend</span> <span class="label">Custom Menu</span>
              </button>
            </div>
            <ul class="navigation-menu">
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="#" class="navigation-link">
                    <span>Link #1</span>
                  </a>
                </div>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="#" class="navigation-link">
                    <span>Link #2</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Link #2</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="#" class="navigation-link">
                        <span>Sub Link #1</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="#" class="navigation-link">
                        <span>Sub Link #2</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="#" class="navigation-link">
                    <span>Link #3</span>
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <nav id="menu-builder" class="navigation__sidebar--menu" aria-labelledby="menu--site-builder" role="navigation">
      <div class="navigation-menu-wrapper">
        <h2 id="menu--content" class="menu-title">Content</h2>
        <ul class="navigation-menu" data-once="navigation-menu" aria-labelledby="menu--content">
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/content" class="navigation-link navigation-link--has-icon">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.25 0.75H1.75C1.35218 0.75 0.970644 0.908035 0.68934 1.18934C0.408035 1.47064 0.25 1.85218 0.25 2.25V15.75C0.25 16.1478 0.408035 16.5294 0.68934 16.8107C0.970644 17.092 1.35218 17.25 1.75 17.25H18.25C18.6478 17.25 19.0294 17.092 19.3107 16.8107C19.592 16.5294 19.75 16.1478 19.75 15.75V2.25C19.75 1.85218 19.592 1.47064 19.3107 1.18934C19.0294 0.908035 18.6478 0.75 18.25 0.75ZM18.25 15.75H1.75V2.25H18.25V15.75ZM15.25 6C15.25 6.19891 15.171 6.38968 15.0303 6.53033C14.8897 6.67098 14.6989 6.75 14.5 6.75H5.5C5.30109 6.75 5.11032 6.67098 4.96967 6.53033C4.82902 6.38968 4.75 6.19891 4.75 6C4.75 5.80109 4.82902 5.61032 4.96967 5.46967C5.11032 5.32902 5.30109 5.25 5.5 5.25H14.5C14.6989 5.25 14.8897 5.32902 15.0303 5.46967C15.171 5.61032 15.25 5.80109 15.25 6ZM15.25 9C15.25 9.19891 15.171 9.38968 15.0303 9.53033C14.8897 9.67098 14.6989 9.75 14.5 9.75H5.5C5.30109 9.75 5.11032 9.67098 4.96967 9.53033C4.82902 9.38968 4.75 9.19891 4.75 9C4.75 8.80109 4.82902 8.61032 4.96967 8.46967C5.11032 8.32902 5.30109 8.25 5.5 8.25H14.5C14.6989 8.25 14.8897 8.32902 15.0303 8.46967C15.171 8.61032 15.25 8.80109 15.25 9ZM15.25 12C15.25 12.1989 15.171 12.3897 15.0303 12.5303C14.8897 12.671 14.6989 12.75 14.5 12.75H5.5C5.30109 12.75 5.11032 12.671 4.96967 12.5303C4.82902 12.3897 4.75 12.1989 4.75 12C4.75 11.8011 4.82902 11.6103 4.96967 11.4697C5.11032 11.329 5.30109 11.25 5.5 11.25H14.5C14.6989 11.25 14.8897 11.329 15.0303 11.4697C15.171 11.6103 15.25 11.8011 15.25 12Z" fill="currentColor"/>
                </svg>
                <span>Content</span>
              </a>
            </div>
          </li>
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/structure/media" class="navigation-link navigation-link--has-icon">
                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.25 0.75H1.75C1.35218 0.75 0.970644 0.908035 0.68934 1.18934C0.408035 1.47064 0.25 1.85218 0.25 2.25V15.75C0.25 16.1478 0.408035 16.5294 0.68934 16.8107C0.970644 17.092 1.35218 17.25 1.75 17.25H18.25C18.6478 17.25 19.0294 17.092 19.3107 16.8107C19.592 16.5294 19.75 16.1478 19.75 15.75V2.25C19.75 1.85218 19.592 1.47064 19.3107 1.18934C19.0294 0.908035 18.6478 0.75 18.25 0.75ZM1.75 5.25H9.25V12.75H1.75V5.25ZM10.75 3.75V2.25H13.75V3.75H10.75ZM9.25 3.75H6.25V2.25H9.25V3.75ZM9.25 14.25V15.75H6.25V14.25H9.25ZM10.75 14.25H13.75V15.75H10.75V14.25ZM10.75 12.75V5.25H18.25V12.75H10.75ZM18.25 3.75H15.25V2.25H18.25V3.75ZM4.75 2.25V3.75H1.75V2.25H4.75ZM1.75 14.25H4.75V15.75H1.75V14.25ZM18.25 15.75H15.25V14.25H18.25V15.75Z" fill="currentColor"/>
                </svg>
                <span>Media</span>
              </a>
            </div>
          </li>
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/structure/taxonomy" class="navigation-link navigation-link--has-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.5 15C15.9997 14.9998 15.5044 15.1001 15.0435 15.2948C14.5827 15.4895 14.1655 15.7746 13.8169 16.1334L9.49498 13.3556C9.83494 12.4838 9.83494 11.5162 9.49498 10.6444L13.8169 7.86656C14.466 8.53155 15.339 8.9318 16.2665 8.98971C17.194 9.04763 18.11 8.75908 18.8369 8.18001C19.5637 7.60095 20.0497 6.77261 20.2005 5.85561C20.3513 4.93861 20.1563 3.99828 19.6532 3.21691C19.1501 2.43554 18.3748 1.86882 17.4776 1.62661C16.5804 1.3844 15.6252 1.48396 14.7972 1.90599C13.9693 2.32802 13.3275 3.04245 12.9964 3.91077C12.6652 4.77909 12.6683 5.73944 13.005 6.60563L8.68311 9.38344C8.16267 8.84913 7.49472 8.48217 6.76464 8.32945C6.03457 8.17673 5.27553 8.24519 4.58457 8.52609C3.8936 8.80699 3.3021 9.28757 2.88568 9.90638C2.46926 10.5252 2.24683 11.2541 2.24683 12C2.24683 12.7459 2.46926 13.4748 2.88568 14.0936C3.3021 14.7124 3.8936 15.193 4.58457 15.4739C5.27553 15.7548 6.03457 15.8233 6.76464 15.6706C7.49472 15.5178 8.16267 15.1509 8.68311 14.6166L13.005 17.3944C12.7155 18.1411 12.6726 18.9609 12.8827 19.7338C13.0928 20.5067 13.5449 21.1919 14.1726 21.6893C14.8004 22.1867 15.5709 22.47 16.3713 22.4977C17.1718 22.5255 17.9601 22.2963 18.6208 21.8436C19.2815 21.391 19.78 20.7387 20.0431 19.9822C20.3063 19.2258 20.3204 18.405 20.0833 17.64C19.8463 16.875 19.3705 16.2059 18.7257 15.7309C18.0809 15.2558 17.3009 14.9997 16.5 15ZM16.5 3C16.945 3 17.38 3.13196 17.75 3.37919C18.12 3.62643 18.4084 3.97783 18.5787 4.38896C18.749 4.8001 18.7936 5.2525 18.7067 5.68895C18.6199 6.12541 18.4056 6.52632 18.091 6.84099C17.7763 7.15566 17.3754 7.36995 16.9389 7.45677C16.5025 7.54358 16.0501 7.49903 15.6389 7.32873C15.2278 7.15843 14.8764 6.87004 14.6292 6.50003C14.3819 6.13002 14.25 5.69501 14.25 5.25C14.25 4.65326 14.487 4.08097 14.909 3.65901C15.3309 3.23705 15.9032 3 16.5 3ZM5.99998 14.25C5.55497 14.25 5.11996 14.118 4.74995 13.8708C4.37994 13.6236 4.09155 13.2722 3.92125 12.861C3.75096 12.4499 3.7064 11.9975 3.79321 11.561C3.88003 11.1246 4.09432 10.7237 4.40899 10.409C4.72366 10.0943 5.12457 9.88005 5.56103 9.79323C5.99749 9.70642 6.44989 9.75097 6.86102 9.92127C7.27215 10.0916 7.62355 10.38 7.87079 10.75C8.11802 11.12 8.24998 11.555 8.24998 12C8.24998 12.5967 8.01293 13.169 7.59097 13.591C7.16901 14.0129 6.59672 14.25 5.99998 14.25ZM16.5 21C16.055 21 15.62 20.868 15.2499 20.6208C14.8799 20.3736 14.5915 20.0222 14.4213 19.611C14.251 19.1999 14.2064 18.7475 14.2932 18.311C14.38 17.8746 14.5943 17.4737 14.909 17.159C15.2237 16.8443 15.6246 16.6301 16.061 16.5432C16.4975 16.4564 16.9499 16.501 17.361 16.6713C17.7722 16.8416 18.1236 17.13 18.3708 17.5C18.618 17.87 18.75 18.305 18.75 18.75C18.75 19.3467 18.5129 19.919 18.091 20.341C17.669 20.7629 17.0967 21 16.5 21Z" fill="currentColor"/>
                </svg>
                <span>Taxonomy</span>
              </a>
            </div>
          </li>
          <div class="navigation-menu__action">
            <a href="/" class="action-link">
              <span>Create</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2.25C10.0716 2.25 8.18657 2.82183 6.58319 3.89317C4.97982 4.96451 3.73013 6.48726 2.99218 8.26884C2.25422 10.0504 2.06114 12.0108 2.43735 13.9021C2.81355 15.7934 3.74215 17.5307 5.10571 18.8943C6.46928 20.2579 8.20656 21.1865 10.0979 21.5627C11.9892 21.9389 13.9496 21.7458 15.7312 21.0078C17.5127 20.2699 19.0355 19.0202 20.1068 17.4168C21.1782 15.8134 21.75 13.9284 21.75 12C21.7473 9.41498 20.7192 6.93661 18.8913 5.10872C17.0634 3.28084 14.585 2.25273 12 2.25ZM12 20.25C10.3683 20.25 8.77326 19.7661 7.41655 18.8596C6.05984 17.9531 5.00242 16.6646 4.378 15.1571C3.75358 13.6496 3.5902 11.9908 3.90853 10.3905C4.22685 8.79016 5.01259 7.32015 6.16637 6.16637C7.32016 5.01259 8.79017 4.22685 10.3905 3.90852C11.9909 3.59019 13.6497 3.75357 15.1571 4.37799C16.6646 5.00242 17.9531 6.05984 18.8596 7.41655C19.7661 8.77325 20.25 10.3683 20.25 12C20.2475 14.1873 19.3775 16.2843 17.8309 17.8309C16.2843 19.3775 14.1873 20.2475 12 20.25ZM16.5 12C16.5 12.1989 16.421 12.3897 16.2803 12.5303C16.1397 12.671 15.9489 12.75 15.75 12.75H12.75V15.75C12.75 15.9489 12.671 16.1397 12.5303 16.2803C12.3897 16.421 12.1989 16.5 12 16.5C11.8011 16.5 11.6103 16.421 11.4697 16.2803C11.329 16.1397 11.25 15.9489 11.25 15.75V12.75H8.25C8.05109 12.75 7.86033 12.671 7.71967 12.5303C7.57902 12.3897 7.5 12.1989 7.5 12C7.5 11.8011 7.57902 11.6103 7.71967 11.4697C7.86033 11.329 8.05109 11.25 8.25 11.25H11.25V8.25C11.25 8.05109 11.329 7.86032 11.4697 7.71967C11.6103 7.57902 11.8011 7.5 12 7.5C12.1989 7.5 12.3897 7.57902 12.5303 7.71967C12.671 7.86032 12.75 8.05109 12.75 8.25V11.25H15.75C15.9489 11.25 16.1397 11.329 16.2803 11.4697C16.421 11.6103 16.5 11.8011 16.5 12Z" fill="white"/>
              </svg>
            </a>
          </div>
        </ul>
      </div>
      <div class="navigation-menu-wrapper">
        <h2 id="menu--administration" class="menu-title">Administration</h2>
        <ul class="navigation-menu" data-once="navigation-menu" aria-labelledby="menu--administration">
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/content" class="navigation-link navigation-link--has-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.25 3.75H3.75C3.35218 3.75 2.97064 3.90804 2.68934 4.18934C2.40804 4.47064 2.25 4.85218 2.25 5.25V18.75C2.25 19.1478 2.40804 19.5294 2.68934 19.8107C2.97064 20.092 3.35218 20.25 3.75 20.25H20.25C20.6478 20.25 21.0294 20.092 21.3107 19.8107C21.592 19.5294 21.75 19.1478 21.75 18.75V5.25C21.75 4.85218 21.592 4.47064 21.3107 4.18934C21.0294 3.90804 20.6478 3.75 20.25 3.75ZM20.25 18.75H3.75V5.25H20.25V18.75ZM17.25 9C17.25 9.19891 17.171 9.38968 17.0303 9.53033C16.8897 9.67098 16.6989 9.75 16.5 9.75H7.5C7.30109 9.75 7.11032 9.67098 6.96967 9.53033C6.82902 9.38968 6.75 9.19891 6.75 9C6.75 8.80109 6.82902 8.61032 6.96967 8.46967C7.11032 8.32902 7.30109 8.25 7.5 8.25H16.5C16.6989 8.25 16.8897 8.32902 17.0303 8.46967C17.171 8.61032 17.25 8.80109 17.25 9ZM17.25 12C17.25 12.1989 17.171 12.3897 17.0303 12.5303C16.8897 12.671 16.6989 12.75 16.5 12.75H7.5C7.30109 12.75 7.11032 12.671 6.96967 12.5303C6.82902 12.3897 6.75 12.1989 6.75 12C6.75 11.8011 6.82902 11.6103 6.96967 11.4697C7.11032 11.329 7.30109 11.25 7.5 11.25H16.5C16.6989 11.25 16.8897 11.329 17.0303 11.4697C17.171 11.6103 17.25 11.8011 17.25 12ZM17.25 15C17.25 15.1989 17.171 15.3897 17.0303 15.5303C16.8897 15.671 16.6989 15.75 16.5 15.75H7.5C7.30109 15.75 7.11032 15.671 6.96967 15.5303C6.82902 15.3897 6.75 15.1989 6.75 15C6.75 14.8011 6.82902 14.6103 6.96967 14.4697C7.11032 14.329 7.30109 14.25 7.5 14.25H16.5C16.6989 14.25 16.8897 14.329 17.0303 14.4697C17.171 14.6103 17.25 14.8011 17.25 15Z" fill="currentColor"/>
                </svg>
                <span>Content</span>
              </a>
              <button class="navigation-handle">
                <span class="action">Extend</span> <span class="label">Content</span>
              </button>
            </div>
            <ul class="navigation-menu">
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/node/add" class="navigation-link">
                    <span>Add content</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Add content</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/node/add/article" class="navigation-link">
                        <span>Article</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/node/add/page" class="navigation-link">
                        <span>Page</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/content/files" class="navigation-link">
                    <span>Files</span>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/structure" class="navigation-link navigation-link--has-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.75 10.5H20.25C20.6478 10.5 21.0294 10.342 21.3107 10.0607C21.592 9.77936 21.75 9.39782 21.75 9V4.5C21.75 4.10218 21.592 3.72064 21.3107 3.43934C21.0294 3.15804 20.6478 3 20.25 3H15.75C15.3522 3 14.9706 3.15804 14.6893 3.43934C14.408 3.72064 14.25 4.10218 14.25 4.5V6H13.5C12.7044 6 11.9413 6.31607 11.3787 6.87868C10.8161 7.44129 10.5 8.20435 10.5 9V11.25H7.5V10.5C7.5 10.1022 7.34196 9.72064 7.06066 9.43934C6.77936 9.15804 6.39782 9 6 9H3C2.60218 9 2.22064 9.15804 1.93934 9.43934C1.65804 9.72064 1.5 10.1022 1.5 10.5V13.5C1.5 13.8978 1.65804 14.2794 1.93934 14.5607C2.22064 14.842 2.60218 15 3 15H6C6.39782 15 6.77936 14.842 7.06066 14.5607C7.34196 14.2794 7.5 13.8978 7.5 13.5V12.75H10.5V15C10.5 15.7956 10.8161 16.5587 11.3787 17.1213C11.9413 17.6839 12.7044 18 13.5 18H14.25V19.5C14.25 19.8978 14.408 20.2794 14.6893 20.5607C14.9706 20.842 15.3522 21 15.75 21H20.25C20.6478 21 21.0294 20.842 21.3107 20.5607C21.592 20.2794 21.75 19.8978 21.75 19.5V15C21.75 14.6022 21.592 14.2206 21.3107 13.9393C21.0294 13.658 20.6478 13.5 20.25 13.5H15.75C15.3522 13.5 14.9706 13.658 14.6893 13.9393C14.408 14.2206 14.25 14.6022 14.25 15V16.5H13.5C13.1022 16.5 12.7206 16.342 12.4393 16.0607C12.158 15.7794 12 15.3978 12 15V9C12 8.60218 12.158 8.22064 12.4393 7.93934C12.7206 7.65804 13.1022 7.5 13.5 7.5H14.25V9C14.25 9.39782 14.408 9.77936 14.6893 10.0607C14.9706 10.342 15.3522 10.5 15.75 10.5ZM6 13.5H3V10.5H6V13.5ZM15.75 15H20.25V19.5H15.75V15ZM15.75 4.5H20.25V9H15.75V4.5Z" fill="currentColor"/>
                </svg>
                <span>Structure</span>
              </a>
              <button class="navigation-handle">
                <span class="action">Extend</span> <span class="label">Structure</span>
              </button>
            </div>
            <ul class="navigation-menu">
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/structure/block" class="navigation-link">
                    <span>Block layout</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Block layout</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/block/add" class="navigation-link">
                        <span>Add custom block</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/block/block-content/types" class="navigation-link">
                        <span>Block types</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/block/block-content" class="navigation-link">
                        <span>Custom block library</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/structure/types" class="navigation-link">
                    <span>Content types</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Content types</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/types/add" class="navigation-link">
                        <span>Add content type</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/types/manage/article" class="navigation-link">
                        <span>Article</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/types/manage/page" class="navigation-link">
                        <span>Page</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/structure/display-modes" class="navigation-link">
                    <span>Display modes</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Display modes</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/display-modes/form" class="navigation-link">
                        <span>Form modes</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/display-modes/view" class="navigation-link">
                        <span>View modes</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/structure/menu" class="navigation-link">
                    <span>Menus</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Menus</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/menu/add" class="navigation-link">
                        <span>Add menu</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/menu/manage/admin" class="navigation-link">
                        <span>Administration</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/menu/manage/footer" class="navigation-link">
                        <span>Footer</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/menu/manage/main" class="navigation-link">
                        <span>Main navigation</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/menu/manage/secondary-navigation" class="navigation-link">
                        <span>Secondary navigation</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/menu/manage/tools" class="navigation-link">
                        <span>Tools</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/menu/manage/account" class="navigation-link">
                        <span>User account menu</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/structure/taxonomy" class="navigation-link">
                    <span>Taxonomy</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Taxonomy</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/taxonomy/add" class="navigation-link">
                        <span>Add vocabulary</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/structure/views" class="navigation-link">
                    <span>Views</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Views</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/views/add" class="navigation-link">
                        <span>Add view</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/views/view/content" class="navigation-link">
                        <span>Content</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/views/view/block_content" class="navigation-link">
                        <span>Custom block library</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/views/view/media" class="navigation-link">
                        <span>Media</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/views/view/media_library" class="navigation-link">
                        <span>Media library</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/views/view/taxonomy_term" class="navigation-link">
                        <span>Taxonomy term</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/structure/views/view/watchdog" class="navigation-link">
                        <span>Watchdog</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/appearance" class="navigation-link navigation-link--has-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.25 2.25H6.75C5.75544 2.25 4.80161 2.64509 4.09835 3.34835C3.39509 4.05161 3 5.00544 3 6V12.75C3 13.3467 3.23705 13.919 3.65901 14.341C4.08097 14.7629 4.65326 15 5.25 15H9.75L9.01031 19.3753C9.00358 19.4165 9.00013 19.4582 9 19.5C9 20.2956 9.31607 21.0587 9.87868 21.6213C10.4413 22.1839 11.2044 22.5 12 22.5C12.7956 22.5 13.5587 22.1839 14.1213 21.6213C14.6839 21.0587 15 20.2956 15 19.5C14.9999 19.4582 14.9964 19.4165 14.9897 19.3753L14.25 15H18.75C19.3467 15 19.919 14.7629 20.341 14.341C20.7629 13.919 21 13.3467 21 12.75V3C21 2.80109 20.921 2.61032 20.7803 2.46967C20.6397 2.32902 20.4489 2.25 20.25 2.25ZM6.75 3.75H16.5V7.5C16.5 7.69891 16.579 7.88968 16.7197 8.03033C16.8603 8.17098 17.0511 8.25 17.25 8.25C17.4489 8.25 17.6397 8.17098 17.7803 8.03033C17.921 7.88968 18 7.69891 18 7.5V3.75H19.5V9.75H4.5V6C4.5 5.40326 4.73705 4.83097 5.15901 4.40901C5.58097 3.98705 6.15326 3.75 6.75 3.75ZM18.75 13.5H14.25C14.0351 13.5 13.8227 13.5462 13.6272 13.6354C13.4317 13.7246 13.2577 13.8548 13.1169 14.0171C12.9761 14.1794 12.8718 14.3701 12.8111 14.5762C12.7504 14.7824 12.7346 14.9991 12.765 15.2119V15.2306L13.5 19.5563C13.5 19.9541 13.342 20.3356 13.0607 20.6169C12.7794 20.8982 12.3978 21.0563 12 21.0563C11.6022 21.0563 11.2206 20.8982 10.9393 20.6169C10.658 20.3356 10.5 19.9541 10.5 19.5563L11.2313 15.2306V15.2119C11.2616 14.9995 11.2459 14.783 11.1855 14.5771C11.125 14.3713 11.021 14.1808 10.8806 14.0185C10.7402 13.8562 10.5666 13.726 10.3716 13.6365C10.1765 13.5471 9.96457 13.5005 9.75 13.5H5.25C5.05109 13.5 4.86032 13.421 4.71967 13.2803C4.57902 13.1397 4.5 12.9489 4.5 12.75V11.25H19.5V12.75C19.5 12.9489 19.421 13.1397 19.2803 13.2803C19.1397 13.421 18.9489 13.5 18.75 13.5Z" fill="currentColor"/>
                </svg>
                <span>Appearance</span>
              </a>
              <button class="navigation-handle">
                <span class="action">Extend</span> <span class="label">Appearance</span>
              </button>
            </div>
            <ul class="navigation-menu">
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/appearance/settings" class="navigation-link">
                    <span>Settings</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Settings</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/appearance/settings/claro" class="navigation-link">
                        <span>Claro</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/modules" class="navigation-link navigation-link--has-icon"">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.6502 14.8631C20.5433 14.7957 20.421 14.7564 20.2948 14.7488C20.1686 14.7413 20.0426 14.7658 19.9283 14.82C19.6426 14.9552 19.3272 15.0159 19.0117 14.9965C18.6962 14.9771 18.3907 14.8782 18.1236 14.7091C17.8565 14.54 17.6365 14.306 17.4841 14.0291C17.3317 13.7521 17.2517 13.4411 17.2517 13.125C17.2517 12.8089 17.3317 12.4979 17.4841 12.2209C17.6365 11.944 17.8565 11.71 18.1236 11.5409C18.3907 11.3718 18.6962 11.2729 19.0117 11.2535C19.3272 11.2341 19.6426 11.2948 19.9283 11.43C20.0427 11.4843 20.1689 11.5087 20.2952 11.5011C20.4215 11.4934 20.5439 11.4539 20.6508 11.3863C20.7578 11.3186 20.8459 11.225 20.9069 11.1141C20.968 11.0033 21 10.8787 20.9999 10.7522V6.75C20.9999 6.35218 20.8419 5.97065 20.5606 5.68934C20.2793 5.40804 19.8977 5.25 19.4999 5.25H16.1043C16.1182 5.12549 16.1251 5.00029 16.1249 4.875C16.1242 4.41405 16.0294 3.9581 15.8463 3.5351C15.6631 3.11209 15.3956 2.73094 15.0599 2.415C14.5952 1.97851 14.0163 1.6826 13.3903 1.56152C12.7643 1.44044 12.1168 1.49916 11.5228 1.73087C10.9289 1.96258 10.4127 2.3578 10.034 2.87078C9.65536 3.38375 9.42977 3.99348 9.38334 4.62938C9.36894 4.83622 9.37333 5.04395 9.39647 5.25H5.99991C5.60208 5.25 5.22055 5.40804 4.93925 5.68934C4.65794 5.97065 4.49991 6.35218 4.49991 6.75V9.77063C4.3754 9.75667 4.2502 9.74978 4.12491 9.75C3.66397 9.75075 3.20804 9.84559 2.78504 10.0287C2.36204 10.2118 1.98088 10.4794 1.66491 10.815C1.34667 11.1512 1.10163 11.5497 0.945264 11.9854C0.788899 12.4211 0.724614 12.8844 0.75647 13.3463C0.810215 14.1594 1.15573 14.9258 1.72947 15.5046C2.30322 16.0833 3.06662 16.4355 3.87928 16.4963C4.08612 16.5111 4.29389 16.5067 4.49991 16.4831V19.5C4.49991 19.8978 4.65794 20.2794 4.93925 20.5607C5.22055 20.842 5.60208 21 5.99991 21H19.4999C19.8977 21 20.2793 20.842 20.5606 20.5607C20.8419 20.2794 20.9999 19.8978 20.9999 19.5V15.4978C21 15.3711 20.968 15.2464 20.9068 15.1354C20.8457 15.0244 20.7574 14.9308 20.6502 14.8631ZM19.4999 19.5H5.99991V15.4978C5.99995 15.3713 5.96796 15.2467 5.90693 15.1359C5.8459 15.025 5.7578 14.9314 5.65084 14.8637C5.54388 14.7961 5.42155 14.7566 5.29522 14.7489C5.16889 14.7413 5.04268 14.7657 4.92835 14.82C4.64256 14.9552 4.32725 15.0159 4.01171 14.9965C3.69617 14.9771 3.39066 14.8782 3.12358 14.7091C2.8565 14.54 2.63652 14.306 2.48409 14.0291C2.33165 13.7521 2.25172 13.4411 2.25172 13.125C2.25172 12.8089 2.33165 12.4979 2.48409 12.2209C2.63652 11.944 2.8565 11.71 3.12358 11.5409C3.39066 11.3718 3.69617 11.2729 4.01171 11.2535C4.32725 11.2341 4.64256 11.2948 4.92835 11.43C5.04268 11.4843 5.16889 11.5087 5.29522 11.5011C5.42155 11.4934 5.54388 11.4539 5.65084 11.3863C5.7578 11.3186 5.8459 11.225 5.90693 11.1141C5.96796 11.0033 5.99995 10.8787 5.99991 10.7522V6.75H10.3771C10.5037 6.75004 10.6282 6.71806 10.739 6.65702C10.8499 6.59599 10.9435 6.50789 11.0112 6.40093C11.0788 6.29398 11.1183 6.17164 11.126 6.04531C11.1336 5.91898 11.1092 5.79278 11.0549 5.67844C10.9198 5.39266 10.859 5.07734 10.8784 4.7618C10.8978 4.44627 10.9967 4.14076 11.1658 3.87368C11.335 3.60659 11.5689 3.38661 11.8458 3.23418C12.1228 3.08175 12.4338 3.00182 12.7499 3.00182C13.066 3.00182 13.377 3.08175 13.654 3.23418C13.9309 3.38661 14.1649 3.60659 14.334 3.87368C14.5031 4.14076 14.602 4.44627 14.6214 4.7618C14.6408 5.07734 14.5801 5.39266 14.4449 5.67844C14.3906 5.79278 14.3662 5.91898 14.3738 6.04531C14.3815 6.17164 14.421 6.29398 14.4886 6.40093C14.5563 6.50789 14.6499 6.59599 14.7608 6.65702C14.8717 6.71806 14.9962 6.75004 15.1227 6.75H19.4999V9.77156C19.2939 9.74796 19.0861 9.74357 18.8793 9.75844C18.0064 9.82025 17.1916 10.2187 16.6069 10.8697C16.0221 11.5207 15.713 12.3734 15.7449 13.2479C15.7768 14.1224 16.1471 14.9503 16.7776 15.5571C17.4082 16.1638 18.2498 16.5019 19.1249 16.5C19.2502 16.5002 19.3754 16.4933 19.4999 16.4794V19.5Z" fill="currentColor"/>
              </svg>
              <span>Extend</span>
              </a>
              <button class="navigation-handle">
                <span class="action">Extend</span> <span class="label">Extend</span>
              </button>
            </div>
            <ul class="navigation-menu">
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/modules/uninstall" class="navigation-link">
                    <span>Uninstall module</span>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/config" class="navigation-link navigation-link--has-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.00002 9.84375V3.75C6.00002 3.55109 5.92101 3.36032 5.78035 3.21967C5.6397 3.07902 5.44894 3 5.25002 3C5.05111 3 4.86035 3.07902 4.71969 3.21967C4.57904 3.36032 4.50002 3.55109 4.50002 3.75V9.84375C3.85471 10.009 3.28274 10.3843 2.87429 10.9105C2.46584 11.4367 2.24414 12.0839 2.24414 12.75C2.24414 13.4161 2.46584 14.0633 2.87429 14.5895C3.28274 15.1157 3.85471 15.491 4.50002 15.6562V20.25C4.50002 20.4489 4.57904 20.6397 4.71969 20.7803C4.86035 20.921 5.05111 21 5.25002 21C5.44894 21 5.6397 20.921 5.78035 20.7803C5.92101 20.6397 6.00002 20.4489 6.00002 20.25V15.6562C6.64533 15.491 7.2173 15.1157 7.62575 14.5895C8.0342 14.0633 8.25591 13.4161 8.25591 12.75C8.25591 12.0839 8.0342 11.4367 7.62575 10.9105C7.2173 10.3843 6.64533 10.009 6.00002 9.84375ZM5.25002 14.25C4.95335 14.25 4.66334 14.162 4.41667 13.9972C4.16999 13.8324 3.97774 13.5981 3.8642 13.324C3.75067 13.0499 3.72097 12.7483 3.77885 12.4574C3.83672 12.1664 3.97958 11.8991 4.18936 11.6893C4.39914 11.4796 4.66642 11.3367 4.95739 11.2788C5.24836 11.2209 5.54996 11.2506 5.82405 11.3642C6.09814 11.4777 6.33241 11.67 6.49723 11.9166C6.66205 12.1633 6.75002 12.4533 6.75002 12.75C6.75002 13.1478 6.59199 13.5294 6.31068 13.8107C6.02938 14.092 5.64785 14.25 5.25002 14.25ZM12.75 5.34375V3.75C12.75 3.55109 12.671 3.36032 12.5304 3.21967C12.3897 3.07902 12.1989 3 12 3C11.8011 3 11.6103 3.07902 11.4697 3.21967C11.329 3.36032 11.25 3.55109 11.25 3.75V5.34375C10.6047 5.50898 10.0327 5.88428 9.62429 6.41048C9.21584 6.93669 8.99414 7.58387 8.99414 8.25C8.99414 8.91613 9.21584 9.56331 9.62429 10.0895C10.0327 10.6157 10.6047 10.991 11.25 11.1562V20.25C11.25 20.4489 11.329 20.6397 11.4697 20.7803C11.6103 20.921 11.8011 21 12 21C12.1989 21 12.3897 20.921 12.5304 20.7803C12.671 20.6397 12.75 20.4489 12.75 20.25V11.1562C13.3953 10.991 13.9673 10.6157 14.3758 10.0895C14.7842 9.56331 15.0059 8.91613 15.0059 8.25C15.0059 7.58387 14.7842 6.93669 14.3758 6.41048C13.9673 5.88428 13.3953 5.50898 12.75 5.34375ZM12 9.75C11.7034 9.75 11.4133 9.66203 11.1667 9.4972C10.92 9.33238 10.7277 9.09811 10.6142 8.82403C10.5007 8.54994 10.471 8.24834 10.5288 7.95736C10.5867 7.66639 10.7296 7.39912 10.9394 7.18934C11.1491 6.97956 11.4164 6.8367 11.7074 6.77882C11.9984 6.72094 12.3 6.75065 12.574 6.86418C12.8481 6.97771 13.0824 7.16997 13.2472 7.41665C13.412 7.66332 13.5 7.95333 13.5 8.25C13.5 8.64782 13.342 9.02936 13.0607 9.31066C12.7794 9.59196 12.3978 9.75 12 9.75ZM21.75 15.75C21.7494 15.0849 21.5282 14.4388 21.121 13.9129C20.7139 13.387 20.1438 13.011 19.5 12.8438V3.75C19.5 3.55109 19.421 3.36032 19.2804 3.21967C19.1397 3.07902 18.9489 3 18.75 3C18.5511 3 18.3603 3.07902 18.2197 3.21967C18.079 3.36032 18 3.55109 18 3.75V12.8438C17.3547 13.009 16.7827 13.3843 16.3743 13.9105C15.9658 14.4367 15.7441 15.0839 15.7441 15.75C15.7441 16.4161 15.9658 17.0633 16.3743 17.5895C16.7827 18.1157 17.3547 18.491 18 18.6562V20.25C18 20.4489 18.079 20.6397 18.2197 20.7803C18.3603 20.921 18.5511 21 18.75 21C18.9489 21 19.1397 20.921 19.2804 20.7803C19.421 20.6397 19.5 20.4489 19.5 20.25V18.6562C20.1438 18.489 20.7139 18.113 21.121 17.5871C21.5282 17.0612 21.7494 16.4151 21.75 15.75ZM18.75 17.25C18.4534 17.25 18.1633 17.162 17.9167 16.9972C17.67 16.8324 17.4777 16.5981 17.3642 16.324C17.2507 16.0499 17.221 15.7483 17.2788 15.4574C17.3367 15.1664 17.4796 14.8991 17.6894 14.6893C17.8991 14.4796 18.1664 14.3367 18.4574 14.2788C18.7484 14.2209 19.05 14.2506 19.324 14.3642C19.5981 14.4777 19.8324 14.67 19.9972 14.9166C20.1621 15.1633 20.25 15.4533 20.25 15.75C20.25 16.1478 20.092 16.5294 19.8107 16.8107C19.5294 17.092 19.1478 17.25 18.75 17.25Z" fill="currentColor"/>
                </svg>
                <span>Configuration</span>
              </a>
              <button class="navigation-handle">
                <span class="action">Extend</span> <span class="label">Configuration</span>
              </button>
            </div>
            <ul class="navigation-menu">
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/config/people" class="navigation-link">
                    <span>People</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">People</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/people/accounts" class="navigation-link">
                        <span>Account settings</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/config/system" class="navigation-link">
                    <span>System</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">System</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/system/site-information" class="navigation-link">
                        <span>Basic site settings</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/system/cron" class="navigation-link">
                        <span>Cron</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/config/content" class="navigation-link">
                    <span>Content authoring</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Content authoring</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/content/formats" class="navigation-link">
                        <span>Text formats and editors</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/config/user-interface" class="navigation-link">
                    <span>User interface</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">User interface</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/user-interface/admin-navigation-search-settings" class="navigation-link">
                        <span>Admin navigation Search</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/user-interface/admin-navigation-tools" class="navigation-link">
                        <span>Admin navigation Tools</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/user-interface/admin-navigation" class="navigation-link">
                        <span>Admin navigation</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/user-interface/shortcut" class="navigation-link">
                        <span>Shortcuts</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/config/development" class="navigation-link">
                    <span>Development</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Development</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/development/performance" class="navigation-link">
                        <span>Performance</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/development/logging" class="navigation-link">
                        <span>Logging and errors</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/development/maintenance" class="navigation-link">
                        <span>Maintenance mode</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/development/configuration" class="navigation-link">
                        <span>Configuration synchronization</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/config/media" class="navigation-link">
                    <span>Media</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Media</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/media/file-system" class="navigation-link">
                        <span>File system</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/media/image-styles" class="navigation-link">
                        <span>Image styles</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/media/media-library" class="navigation-link">
                        <span>Media Library settings</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/media/media-settings" class="navigation-link">
                        <span>Media settings</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/media/delete_files" class="navigation-link">
                        <span>Delete files</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/media/image-toolkit" class="navigation-link">
                        <span>Image toolkit</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/config/search" class="navigation-link">
                    <span>Search and metadata</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Search and metadata</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/search/path" class="navigation-link">
                        <span>URL aliases</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/config/regional" class="navigation-link">
                    <span>Regional and language</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Regional and language</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/regional/settings" class="navigation-link">
                        <span>Regional settings</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/regional/date-time" class="navigation-link">
                        <span>Date and time formats</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/regional/date_range_format" class="navigation-link">
                        <span>Date and time range formats</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/regional/language" class="navigation-link">
                        <span>Languages</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/regional/content-language" class="navigation-link">
                        <span>Content language</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/config/services" class="navigation-link">
                    <span>Web services</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Web services</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/config/services/rss-publishing" class="navigation-link">
                        <span>RSS publishing</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/people" class="navigation-link navigation-link--has-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.9921 14.805C11.9973 14.1358 12.7605 13.1609 13.1687 12.0244C13.577 10.888 13.6087 9.65028 13.2591 8.49441C12.9095 7.33854 12.1973 6.32585 11.2276 5.60609C10.258 4.88633 9.0825 4.49772 7.87492 4.49772C6.66735 4.49772 5.49184 4.88633 4.52221 5.60609C3.55258 6.32585 2.84032 7.33854 2.49076 8.49441C2.14119 9.65028 2.17288 10.888 2.58114 12.0244C2.9894 13.1609 3.75255 14.1358 4.75774 14.805C2.93945 15.4752 1.38659 16.7153 0.330862 18.3403C0.275377 18.4228 0.236837 18.5155 0.217482 18.6129C0.198127 18.7104 0.198344 18.8108 0.218119 18.9082C0.237895 19.0056 0.276835 19.0981 0.332676 19.1803C0.388516 19.2626 0.460144 19.3329 0.543396 19.3872C0.626647 19.4415 0.719861 19.4787 0.81762 19.4966C0.915378 19.5146 1.01573 19.513 1.11285 19.4918C1.20996 19.4706 1.3019 19.4304 1.38332 19.3733C1.46473 19.3163 1.53401 19.2437 1.58711 19.1597C2.2681 18.1123 3.19995 17.2516 4.29802 16.6558C5.3961 16.06 6.62562 15.7479 7.87492 15.7479C9.12423 15.7479 10.3538 16.06 11.4518 16.6558C12.5499 17.2516 13.4817 18.1123 14.1627 19.1597C14.2727 19.3232 14.4427 19.4368 14.6358 19.476C14.8289 19.5152 15.0297 19.4769 15.1947 19.3692C15.3598 19.2615 15.4758 19.0933 15.5178 18.9007C15.5598 18.7082 15.5243 18.5069 15.419 18.3403C14.3633 16.7153 12.8104 15.4752 10.9921 14.805ZM3.74992 10.125C3.74992 9.30915 3.99185 8.51163 4.44511 7.83327C4.89837 7.15492 5.54261 6.62621 6.29636 6.314C7.0501 6.00179 7.8795 5.9201 8.67967 6.07926C9.47984 6.23843 10.2148 6.63129 10.7917 7.20819C11.3686 7.78508 11.7615 8.52008 11.9207 9.32025C12.0798 10.1204 11.9981 10.9498 11.6859 11.7036C11.3737 12.4573 10.845 13.1016 10.1667 13.5548C9.4883 14.0081 8.69077 14.25 7.87492 14.25C6.78129 14.2488 5.7328 13.8138 4.95948 13.0404C4.18616 12.2671 3.75117 11.2186 3.74992 10.125ZM23.4506 19.3781C23.284 19.4868 23.081 19.5248 22.8864 19.4838C22.6918 19.4429 22.5214 19.3263 22.4127 19.1597C21.7326 18.1117 20.8008 17.2506 19.7025 16.655C18.6042 16.0595 17.3743 15.7483 16.1249 15.75C15.926 15.75 15.7352 15.671 15.5946 15.5303C15.4539 15.3897 15.3749 15.1989 15.3749 15C15.3749 14.8011 15.4539 14.6103 15.5946 14.4697C15.7352 14.329 15.926 14.25 16.1249 14.25C16.7324 14.2494 17.3322 14.1147 17.8816 13.8554C18.431 13.5961 18.9163 13.2187 19.3029 12.7502C19.6895 12.2816 19.9678 11.7334 20.118 11.1448C20.2682 10.5562 20.2865 9.94166 20.1716 9.34514C20.0568 8.74862 19.8116 8.18484 19.4536 7.69406C19.0956 7.20328 18.6337 6.79763 18.1007 6.50609C17.5678 6.21456 16.977 6.04432 16.3707 6.00756C15.7643 5.9708 15.1573 6.06842 14.5931 6.29344C14.5011 6.33321 14.402 6.35414 14.3018 6.35498C14.2016 6.35583 14.1022 6.33658 14.0095 6.29837C13.9169 6.26016 13.8328 6.20376 13.7623 6.13252C13.6918 6.06127 13.6363 5.97661 13.5991 5.88355C13.5619 5.79049 13.5437 5.69092 13.5456 5.59071C13.5475 5.4905 13.5695 5.39168 13.6102 5.30011C13.651 5.20854 13.7097 5.12606 13.7828 5.05756C13.856 4.98905 13.9421 4.9359 14.0362 4.90125C15.3275 4.38624 16.7639 4.3677 18.0681 4.84923C19.3723 5.33075 20.452 6.27821 21.0989 7.50883C21.7458 8.73945 21.914 10.166 21.5711 11.5134C21.2283 12.8607 20.3986 14.0333 19.2421 14.805C21.0604 15.4752 22.6133 16.7153 23.669 18.3403C23.7776 18.5069 23.8156 18.7098 23.7747 18.9045C23.7337 19.0991 23.6171 19.2695 23.4506 19.3781Z" fill="currentColor"/>
                </svg>
                <span>People</span>
              </a>
              <button class="navigation-handle">
                <span class="action">Extend</span> <span class="label">People</span>
              </button>
            </div>
            <ul class="navigation-menu">
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/people/create" class="navigation-link">
                    <span>Add user</span>
                  </a>
                </div>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/people/permissions" class="navigation-link">
                    <span>Permissions</span>
                  </a>
                </div>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/people/roles" class="navigation-link">
                    <span>Roles</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Roles</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/people/roles/add" class="navigation-link">
                        <span>Add role</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/people/roles/manage/anonymous" class="navigation-link">
                        <span>Anonymous user</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/people/roles/manage/authenticated" class="navigation-link">
                        <span>Authenticated user</span>
                      </a>
                    </div>
                  </li>
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/people/roles/manage/administrator" class="navigation-link">
                        <span>Administrator</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item level-1">
            <div class="navigation-box">
              <a href="/admin/reports" class="navigation-link navigation-link--has-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.37489 10.9153C9.48893 10.8495 9.58363 10.7548 9.64945 10.6407C9.71528 10.5267 9.74992 10.3973 9.74989 10.2656V3.51562C9.74922 3.39605 9.71997 3.27837 9.66458 3.1724C9.60919 3.06643 9.52926 2.97523 9.43147 2.90643C9.33367 2.83762 9.22084 2.7932 9.10239 2.77686C8.98393 2.76052 8.86329 2.77274 8.75052 2.8125C6.56143 3.58726 4.7205 5.11748 3.55866 7.12807C2.39681 9.13865 1.99026 11.4977 2.41208 13.7812C2.43395 13.8993 2.48385 14.0104 2.55759 14.1052C2.63133 14.2 2.72675 14.2757 2.83583 14.3259C2.93413 14.3719 3.04137 14.3956 3.14989 14.3953C3.28153 14.3954 3.41086 14.3608 3.52489 14.295L9.37489 10.9153ZM8.24989 4.65188V9.8325L3.76114 12.4228C3.74989 12.2812 3.74989 12.1388 3.74989 12C3.75122 10.4797 4.17204 8.98928 4.96601 7.69279C5.75998 6.3963 6.89631 5.34404 8.24989 4.65188ZM20.4693 7.17375C20.4608 7.15687 20.4524 7.13906 20.4421 7.12219C20.4318 7.10531 20.4233 7.09125 20.413 7.07625C19.5534 5.60794 18.3247 4.39001 16.8488 3.54338C15.373 2.69675 13.7013 2.25087 11.9999 2.25C11.801 2.25 11.6102 2.32902 11.4696 2.46967C11.3289 2.61032 11.2499 2.80109 11.2499 3V11.6091L3.86146 15.9122C3.77572 15.9619 3.70068 16.0281 3.64068 16.107C3.58068 16.1858 3.5369 16.2758 3.51188 16.3717C3.48687 16.4676 3.4811 16.5675 3.49492 16.6656C3.50874 16.7638 3.54187 16.8582 3.59239 16.9434C4.6764 18.7894 6.33777 20.2272 8.32013 21.0351C10.3025 21.8431 12.4956 21.9761 14.5611 21.4138C16.6266 20.8514 18.4496 19.625 19.7489 17.9236C21.0481 16.2223 21.7513 14.1407 21.7499 12C21.752 10.307 21.3105 8.64297 20.4693 7.17375ZM12.7499 3.78375C13.9394 3.89324 15.091 4.25959 16.1251 4.85749C17.1592 5.4554 18.0512 6.27063 18.7396 7.24688L12.7499 10.7353V3.78375ZM11.9999 20.25C10.6906 20.2466 9.4007 19.9333 8.23578 19.3356C7.07087 18.7379 6.06404 17.8729 5.29771 16.8113L12.3665 12.6947L12.3871 12.6816L19.4905 8.54437C20.0703 9.80132 20.3245 11.184 20.2297 12.5649C20.135 13.9459 19.6942 15.2808 18.9481 16.4468C18.202 17.6127 17.1745 18.5722 15.9603 19.2368C14.7461 19.9014 13.3841 20.2499 11.9999 20.25Z" fill="currentColor"/>
                </svg>
                <span>Reports</span>
              </a>
              <button class="navigation-handle">
                <span class="action">Extend</span> <span class="label">Reports</span>
              </button>
            </div>
            <ul class="navigation-menu">
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/reports/status" class="navigation-link">
                    <span>Status report</span>
                  </a>
                </div>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/reports/dblog" class="navigation-link">
                    <span>Recent log messages</span>
                  </a>
                </div>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/reports/fields" class="navigation-link">
                    <span>Field list</span>
                  </a>
                  <button class="navigation-handle">
                    <span class="action">Extend</span> <span class="label">Field list</span>
                  </button>
                </div>
                <ul class="navigation-menu">
                  <li class="menu-item level-3">
                    <div class="navigation-box">
                      <a href="/admin/reports/fields/views-fields" class="navigation-link">
                        <span>Used in views</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/reports/fields/permissions" class="navigation-link">
                    <span>Report all field permissions</span>
                  </a>
                </div>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/reports/access-denied" class="navigation-link">
                    <span>Top 'access denied' errors</span>
                  </a>
                </div>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/reports/page-not-found" class="navigation-link">
                    <span>Top 'page not found' errors</span>
                  </a>
                </div>
              </li>
              <li class="menu-item level-2">
                <div class="navigation-box">
                  <a href="/admin/reports/views-plugins" class="navigation-link">
                    <span>Views plugins</span>
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="navigation__sidebar--sticky-menu">
      <ul class="navigation-menu" data-once="navigation-menu" aria-labelledby="menu--site-builder">
        <li class="menu-item level-1">
          <div class="navigation-box">
            <a href="/admin/help" class="navigation-link navigation-link--has-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.125 16.875C13.125 17.0975 13.059 17.315 12.9354 17.5C12.8118 17.685 12.6361 17.8292 12.4305 17.9144C12.225 17.9995 11.9988 18.0218 11.7805 17.9784C11.5623 17.935 11.3618 17.8278 11.2045 17.6705C11.0472 17.5132 10.94 17.3127 10.8966 17.0945C10.8532 16.8762 10.8755 16.65 10.9606 16.4445C11.0458 16.2389 11.19 16.0632 11.375 15.9396C11.56 15.816 11.7775 15.75 12 15.75C12.2984 15.75 12.5845 15.8685 12.7955 16.0795C13.0065 16.2905 13.125 16.5766 13.125 16.875ZM12 6.75C9.93188 6.75 8.25 8.26406 8.25 10.125V10.5C8.25 10.6989 8.32902 10.8897 8.46967 11.0303C8.61033 11.171 8.80109 11.25 9 11.25C9.19892 11.25 9.38968 11.171 9.53033 11.0303C9.67099 10.8897 9.75 10.6989 9.75 10.5V10.125C9.75 9.09375 10.7597 8.25 12 8.25C13.2403 8.25 14.25 9.09375 14.25 10.125C14.25 11.1562 13.2403 12 12 12C11.8011 12 11.6103 12.079 11.4697 12.2197C11.329 12.3603 11.25 12.5511 11.25 12.75V13.5C11.25 13.6989 11.329 13.8897 11.4697 14.0303C11.6103 14.171 11.8011 14.25 12 14.25C12.1989 14.25 12.3897 14.171 12.5303 14.0303C12.671 13.8897 12.75 13.6989 12.75 13.5V13.4325C14.46 13.1184 15.75 11.7544 15.75 10.125C15.75 8.26406 14.0681 6.75 12 6.75ZM21.75 12C21.75 13.9284 21.1782 15.8134 20.1068 17.4168C19.0355 19.0202 17.5127 20.2699 15.7312 21.0078C13.9496 21.7458 11.9892 21.9389 10.0979 21.5627C8.20656 21.1865 6.46928 20.2579 5.10571 18.8943C3.74215 17.5307 2.81355 15.7934 2.43735 13.9021C2.06114 12.0108 2.25422 10.0504 2.99218 8.26884C3.73013 6.48726 4.97982 4.96452 6.58319 3.89317C8.18657 2.82183 10.0716 2.25 12 2.25C14.585 2.25273 17.0634 3.28084 18.8913 5.10872C20.7192 6.93661 21.7473 9.41498 21.75 12ZM20.25 12C20.25 10.3683 19.7662 8.77325 18.8596 7.41655C17.9531 6.05984 16.6646 5.00242 15.1571 4.37799C13.6497 3.75357 11.9909 3.59019 10.3905 3.90852C8.79017 4.22685 7.32016 5.01259 6.16637 6.16637C5.01259 7.32015 4.22685 8.79016 3.90853 10.3905C3.5902 11.9908 3.75358 13.6496 4.378 15.1571C5.00242 16.6646 6.05984 17.9531 7.41655 18.8596C8.77326 19.7661 10.3683 20.25 12 20.25C14.1873 20.2475 16.2843 19.3775 17.8309 17.8309C19.3775 16.2843 20.2475 14.1873 20.25 12Z" fill="currentColor"/></svg>
              <span>Help</span>
            </a>
          </div>
        </li>
        <div class="navigation-menu__user">
          <div class="navigation-box">
            <a href="/user" class="user-link">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0411377 18C-0.0502771 16.9805 0.000352912 15.9898 0.297807 15.0363C0.483442 14.4415 0.957411 14.0562 1.53824 13.8741C2.36448 13.6139 3.21185 13.4227 4.04157 13.1738C4.53381 13.0254 5.03307 12.8644 5.49296 12.6352C6.53651 12.1149 6.70878 11.364 6.22288 10.2911C5.68423 9.10141 5.18778 7.88505 4.78133 6.64469C4.40864 5.51056 4.39458 4.32721 4.70046 3.15165C5.14207 1.45011 6.39938 0.306779 8.13773 0.0677415C9.39715 -0.105226 10.5996 0.0234458 11.6691 0.801089C13.264 1.96123 13.5622 3.62904 13.3765 5.4346C13.2035 7.11223 12.5988 8.66898 11.8189 10.1525C11.1509 11.4231 11.4026 12.2295 12.7289 12.754C13.5938 13.095 14.5122 13.2968 15.4066 13.5626C15.7737 13.6723 16.1548 13.7525 16.5022 13.9065C17.1787 14.2053 17.6779 14.682 17.7609 15.473C17.8488 16.302 17.9184 17.1324 18 18L0.0411377 18Z" fill="currentColor"/></svg>
            </a>
          </div>
        </div>
    </div>
  </div>

  <!-- Page Content -->
{#  <div class="navigation__content">#}
{#    <!-- Breadcrumb and profile icon -->#}
{#    <div class="navigation__content--breadcrumb">#}
{#      <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">#}
{#        <ol class="breadcrumb__list">#}
{#          <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>#}
{#          <li class="breadcrumb__item"><a href="/admin" class="breadcrumb__link">Administration</a></li>#}
{#        </ol>#}
{#      </nav>#}
{#      <div class="navigation__content--profile-icon"><a href="/">User Account</a></div>#}
{#    </div>#}

{#    <!-- Placeholder content -->#}
{#    <div class="navigation__content--inner">#}
{#      <h1 class="page-title">Example Page Title</h1>#}

{#      <p>This is some sample placeholder content to show the expansion/contraction of the menu.</p>#}
{#      <p>Sapien volutpat ornare gravida maecenas aliquam torquent pulvinar eget curabitur vehicula lorem, facilisi#}
{#        senectus fames sed nullam mauris feugiat etiam placerat. A laoreet dignissim et convallis platea magna#}
{#        feugiat, aenean litora senectus nostra malesuada id arcu sapien, tortor mauris morbi euismod lorem natoque.#}
{#        Neque a torquent dui nisl euismod erat per dapibus condimentum duis, elit ullamcorper molestie habitasse#}
{#        consectetur taciti diam natoque litora arcu sed, nunc lectus suspendisse risus integer imperdiet tincidunt#}
{#        urna fames.</p>#}
{#    </div>#}
{#  </div>#}
</div>
